body {
    background: #fff;
    color: #222;
}

#search-form {
    text-align: center;
}

#logo-div {
    height: 233px;
    margin-top: 89px;
}

#google-logo {
    height: 92px;
    width: 272px;
    padding-top: 109px;
}

#main-search {
    position: relative;
    margin: 0 auto;
    padding-left: 12px;
    padding-top: 6px;
    width: 584px;
}

#search-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 5px 8px 0 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 582px;
    margin: 0 auto;
    box-shadow: #222;
}

#search-box input {
    flex: 100%;
    border: 0;
    outline: none;
}

#speech-icon {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 0 8px;
}

#speech-icon img {
    height: 24px;
    width: 24px;
    background-size: 24px;
}