* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-style: normal;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
}

a {
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  padding: 17px 17px;
  font-size: 13px;
}

header a {
  color: black;
}

header img {
  border-radius: 50%;
  width: 32px;
}

header i {
  opacity: 0.6;
}

header i:hover {
  color: black;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-box {
  width: 550px;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 10px;
  margin-top: 25px;
  align-items: center;
  border: 1px solid #dfe1e5;
}

#search-box input {
  border: none;
  outline: none;
  font-size: 17px;
  width: 495px;
  padding-left: 10px;
  height: 34px !important;
  line-height: 34px;
}

#search-box:hover,
#search-box:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 8px 0px rgb(200, 200, 200);
}

#search-box img {
  height: 24px;
  width: 24px;
}

button {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #5f6368;
  text-align: center;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  height: 36px;
  line-height: 27px;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
  color: black;
  border: solid 1px rgb(200, 200, 200);
  background-image: -moz-linear-gradient(
    top,
    rgb(250, 250, 250),
    rgb(240, 240, 240)
  );
}

#change-lang {
  font-size: 13px;
  color: rgb(34, 34, 34);
  line-height: 28px;
  display: inline-block;
}

#change-lang a {
  padding: 0 3px;
  margin: 0;
  color: #1a0dab;
  text-decoration: none;
}

#change-lang a:hover {
  text-decoration: underline;
}

footer {
  line-height: 40px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  bottom: 0;
  left: 0;
  right: 0;
}

#location {
  border-bottom: 1px solid #e4e4e4;
  margin-left: 30px;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
}

#links a {
  color: #5f6368;
}

#link-right {
  float: right;
  margin-right: 30px;
}

#link-left {
  margin-left: 30px;
}
